var config = {
    rethinkdb: {
        host: 'rethinkdb',
        user: 'admin',
        password: '',
        db: 'unifi',
        max: 5
    },
    ssl: {
        rejectUnauthorized: false,
        ca: 'cacert'
    },
    pushover:  {
	user: 'USERKEY',
	token: 'TOKEN',
	device: 'device1, device2',
	sound: 'gamelan',
	title: 'Motion',
	priority: 0
    },
    workinghours: '00:00-09:00'
};

module.exports = config;
